#header .logo {
    max-height: 50px;
}

#header, #header .header-top {
    background-color: #ee6e73 !important;
}

#header #_desktop_logo {
    position: absolute;
    left: 0 !important;
    top: 0 !important;
}

@media (max-width: 767px) {
    #header .header-nav {
        background: none !important;
        color: #b2b2b2;
    }
}
