/*
 * Custom code goes here.
 * A template should always ship with an empty custom.css
 */
.test {
    border: 1px solid red;
}

#header #_desktop_logo {

}

#header, #header .header-top {
    color: #ee6e73;
}

#header #_desktop_logo a {
    color: red !important;
    font-size: 2rem;
}
